<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Ecom</title>
    <meta name="viewport" content="width=device-width" initial-scale=1, maximum-scale=1, minimun-scale=1>
    <!--to make website loook good on phone also-->

    <!--Bootstrap CSS-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <script type="text/javascript">
        var user = '{{request.user}}' // getting user in a variable so that it is available all over the site

        
        // django doesn't allow request to backend without csrf token
        // csrf token for post data from fetch API
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
        
        function getCookie(name){
            console.log('Passed Value:',name)
            // split the cookie string and get all individual name=value pair in an array
            var cookieArr = document.cookie.split(";");
            console.log('Cookie Arr:',cookieArr)

            // loop through array element
            for(var i=0;i<cookieArr.lenght;i++){
                var cookiePair=cookieArr[i].split("=");
                console.log('Cookie Pair:',cookiePair)

                // removing whitespaces at the beginning of the cookie name
                // and compare it with the given string

                if(name==cookiePair[0].trim()){
                    // decode the cookie value and return
                    return decodeURIComponent(cookiePair[1])
                }
            }
            // return null if not found
            return null;

        }

        var cart = JSON.parse(getCookie('cart'))
        

        // null or undefined both will work
        if(cart == undefined){
            cart={}
            console.log("cart was created")
            // setting the cookie in main domain and path
            document.cookie = 'cart='+JSON.stringify(cart)+";domain=;path=/"
        }
        console.log('Cart: ', cart)



    </script>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'store' %}">Ecom</a> <!-- creating link to store.html-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
                </li>
        
            </ul>

            <div class="form-inline my-2 my-lg-0">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>
                    
                <a href="{% url 'cart' %} ">
                    <img id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">{{cartItems}}</p>
                {% else %}
                <a href="{% url 'register' %}" class="btn btn-warning">SignUp</a>
                {% endif%}

            </div>

        </div>
    </nav>
    <div class="container">
        {% block content %}


        {%endblock%}

    </div>

    <!--Bootstrap JS-->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'js/cart.js'%}"></script>
</body>

</html>